#page-account {

    // min-height: 90vh;
    
    #reminders, #program, #vices, #whatdo {
        min-height: 90vh;
        padding: 36px 12px;
    }

    .single-reminder {
        margin: 24px 0;
    }


}