#page-account {

    // min-height: 90vh;
    
    #reminders, #program, #vices, #whatdo {
        min-height: 90vh;
        padding: 36px 12px;
    }

    #reminders {
        .single-reminder {
            margin: 24px 0;
            div div {
                h3 {
                    text-decoration: underline;
                }
                p {
                    margin-bottom: 1.5em;
                }
            }
            .inactive-reminder {
                background-color: rgba( 0,0,0,.3 );
            }
        }
        form {
            textarea {
                width: 100%;
                padding: 4px 8px;
                resize: both;
                overflow: scroll;
                &[name="title"] {
                    font-size: 1.3em;
                    font-weight: bold;
                    // height: 38px;
                }
                &[name="note"] {
                    height: 160px;
                }
            }
            select {
                min-width: 35%;
                padding: 4px 8px;
            }
        }
        #toggle-inactive-reminders, #toggle-create-reminder {
            cursor: pointer;
            font-style: italic;
            font-weight: bold;
            font-size: .9em;
        }
    }
    

}