// dashboard & components within
#page-dash {

    .stack-component {
        min-height: 61vh;
    }

    #reminders {
        .carousel-inner {
            min-height: 75vh;
            display: flex;
            align-items: center;
        }
    }

    #wins {  
        .single-win {
            margin: 10px 0;
            padding: 12px;
            background-color: rgba(0,0,0,0.5);
            color: #ffffff;
            // desktop
            width: 650px;
            // up to tablet
            @media only screen and (max-width: 1025px) {
                width: 500px;
            }
            // mobile
            @media only screen and (max-width: 420px) {
                width: 375px;
            }
            .stack-this-win {
                margin-right: 12px;
            }
            i, h3 {
                display: inline;
                vertical-align: baseline;
                text-align: left;
            }
            .toggle-note-chevron {
                float: right;
            }
            .toggle-win-note {
                margin-left: 8px;
            }
            i:hover {
                cursor: pointer;
            }
            .win-note {
                display: none;
                margin-bottom: 0;
                font-style: italic;
                font-size: 0.85em;
                p {
                    text-align: justify;
                    margin: 4px 2% 0px 12%;
                }
            }
            .toggle-add-detail-to-win {
                font-style: italic;
                font-size: 0.6em;
                &:hover {
                    cursor: pointer;
                }
            }
            textarea {
                width: 100%;
            }
        }
    }

    #food {
        #total-macros {
            z-index: 2000;
            top: 178px;
            padding: 12px;
            border: 1px solid black;
            p {
                margin-bottom: 0.1em;
            }
            span {
                font-weight: bold;
            }
            // mobile
            @media only screen and (max-width: 420px) {
                top: 134px;
            }
        }
        .accordion {
            .accordion-button span {
                font-weight: bold;
            }
            .accordion-item i {
                padding-right: 6px;
            }
            .recipe-select {
                width: 95%;
                padding: 4px;
                margin-bottom: 12px;
            }
        }
    }

    #vices {
        .single-vice {
            margin: 28px 0;
             // desktop
             width: 650px;
             // up to tablet
             @media only screen and (max-width: 1025px) {
                 width: 500px;
             }
             // mobile
             @media only screen and (max-width: 420px) {
                 width: 375px;
             }
            .manipulate-count {
                font-size: 1.5em;
                line-height: 0.9em;
            }
            h3 span {
                margin-left: 8px;
            }
            .toggle-vice-note {
                margin-right: 8px;
            }
            .vice-note {
                display: none;
                margin-bottom: 0;
                font-style: italic;
                font-size: 0.85em;
                p {
                    text-align: justify;
                    margin: 4px 2% 0px 12%;
                }
            }
            .toggle-add-detail-to-vice {
                font-style: italic;
                font-size: 0.6em;
            }
            .toggle-add-vice-user-note {
                font-size: 0.63em;
                font-weight: 300;
                padding: 0.5em 1em;
                margin-bottom: 8px;
                font-style: italic;
            }
            .toggle-add-vice-user-note, i {
                &:hover {
                    cursor: pointer;
                }
            }
            textarea {
                width: 100%;
            }
        }
        // .vice-note {
        //     display: none;
        //     margin-bottom: 0;
        //     font-style: italic;
        //     font-size: 0.85em;
        // }
        // .toggle-vice-note {
        //     color: rgba(0,0,0,0.5);
        //     &:hover {
        //         cursor: pointer;
        //     }
        // }
    }


    #whatdo {
        #suggestion-whatdo {
            z-index: 2000;
            top: 171px;
            border: 1px solid black;
            // mobile
            @media only screen and (max-width: 420px) {
                top: 127px;
            }
            #suggested-whatdo {
                font-weight: bold;
                font-size: 1.4em;
            }
        }
        ul {
            list-style-type: none;
            li {
                i {
                    margin-right: 8px;
                }
                .badge {
                    margin-left: 12px;
                }
            }
        }
        // .badge {
        //     margin-left: 8px;
        // }
    }


}