// header
#stackin-header-nav {
    font-weight: bold;
    text-transform: capitalize;
    z-index: 4000;
    li {
        margin-left: 2em;
        padding-top: 8px;
    }
    @media only screen and (max-width: 420px) {
        // .navbar {
        //     line-height: 0.5;
        // }
        // .navbar-brand img {
        //     height: 18px;
        //     width: auto;
        //     margin-left: 16px;
        // }
        // .navbar-toggler .navbar-toggler-iron {
        //     width: 0.9em;
        //     height: 0.9em;
        // }
    }
    
}
