// header
#stackin-header-nav {
    font-weight: bold;
    text-transform: capitalize;
    z-index: 4000;
    .navbar-brand img {
        margin-left: 16px;
    }
    .navbar li a {
        color: gold;
    }
    // mobile
    @media only screen and (max-width: 420px) {
        .navbar {
            line-height: 0.5;
            padding-top: 0;
            padding-bottom: 0;    
            li {
                margin-left: auto;
                padding: 0.3em;
            }
            .navbar-brand {
                padding-top: 0;
                padding-bottom: 0;
                img {
                    height: 30px;
                    width: auto;
                }
            }
            .navbar-toggler .navbar-toggler-icon {
                width: 0.9em;
                height: 0.9em;
            }
        }
    }
    // desktop
    @media only screen and (min-width: 421px) {
        .navbar {
            .navbar-nav li { 
                margin-left: 2em;
            }
        }
    }
    
    #dates {
        a {
            color: #F5F5F5;
        }
    }
    
}
