
@font-face {
    font-family: 'BigJohn';
    src: url('../fonts/bigjohn.otf') format('opentype');
}
@font-face {
    font-family: 'SlimJoe';
    src: url('../fonts/slimjoe.otf') format('opentype');
}

body {

    // colors & fonts
    background-color: #f9f9f9;
    color: #131313;
    font-family: Arial, Helvetica, sans-serif;
    .font-big-john { font-family: 'BigJohn', Arial, sans-serif; }
    .font-slim-joe { font-family: 'SlimJoe', Arial, sans-serif; }

    // custom dimensions
    .full-width { 
        // width: 100%;
        // margin-left: 0;
        // margin-right: 0;
        // padding-left: 0;
        // padding-right: 0;
    }

    // import partials
    @import 'header';
    @import 'homepage';
    @import 'dash';
    @import 'footer'; 

}
